{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %} 
<h1 align="center">Tasks</h1>
<ul class="list list-group-flush" id="tasks">
    {% for task in user.tasks %}
        <li class="list-group-item">
            {{task.name}}
            {% set func_call = 'deleteTask('+task.id|string+')' %}
            <button type="button" class="close" onclick="{{func_call}}">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    {% endfor %}
</ul>
<br/>
<form method="POST">
    <textarea name="task" id="task" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add task</button>
    </div>
</form>
{% endblock %}