{% from 'macros.html' import render_task_in_list %}
{% extends "base.html" %}
{% block title %} Personal Task Manager {% endblock %}
{% block content %} 
<h1 align="center" class="header-text">Tasks</h1>
<ul class="list list-group-flush task-list" id="tasks">
    {% for task in user.tasks %}
        {% if not loop.first %}
            <hr/>
        {% endif %}
        {{ render_task_in_list(task, loop.first, loop.last)}}
        
    {% endfor %}
</ul>
<br/>
<form method="POST" autocomplete="off">
    <input type="text" name="task" id="task" class="form-control" placeholder="{{_('New Task name')}}"/>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">{{_('Add task')}}</button>
    </div>
</form>

{% endblock %}