{% from 'macros.html' import render_task %}
{% extends "base.html" %}
{% block title %} Tasks {% endblock %}
{% block content %} 
<h1 align="center" class="header-text">Tasks</h1>
<ul class="list list-group-flush task-list" id="tasks">
    {% for task in user.tasks %}
        {% if not loop.first %}
        <hr/>
        {% endif %}
        {{ render_task(task, loop.first, loop.last)}}
        
    {% endfor %}
</ul>
<br/>
<form method="POST" autocomplete="off">
    <input type="text" name="task" id="task" class="form-control"/>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add task</button>
    </div>
</form>
{% endblock %}