{% macro render_task_in_list(task, first, last) %}
{% set done, total = task.subtasks_done() %}
<li class="block task-item {{'task-item-first' if first else ''}} {{'task-item-last' if last else ''}} {{'task-item-no-subtasks' if total == 0 else 'task-item-done' if total==done else ''}}">
    <div class="block">
        <h3>{{task.name}}</h3>
        
        <ul class="list list-group-flush">
            {% if total == 0 %}
                There is no subtasks in this task
            {% elif total != done %}
                Done {{done}} / {{total}} subtasks
            {% else %}
                All {{done}} subtasks done
            {% endif %}
        </ul>
    </div>
    <a href="{{url_for('views.view_task', task_id=task.id)}}" class="block-link"></a>
</li>
{% endmacro %}
