{% extends 'base.html' %}
{% block title %} {{task.name}} {% endblock %}
{% block content %}
<h1 align="center" class="header-text">{{task.name}}</h1>
{% set done, total = task.subtasks_done() %}
{% if total == 0 %}
    <p style="padding: .3rem; border-radius:10px; background-color: wheat;">This task has no subtasks</p>
{% else %}
    <ul class="list list-group-flush subtask-list">
        {% for subtask in task.subtasks %}
            {% if not loop.first %}
                <hr/>
            {% endif %}
            <li style="color:black" class="subtask-item {{'subtask-item-first' if loop.first else ''}} {{'subtask-item-last' if loop.last else ''}} {{'subtask-item-done' if subtask.done() else 'subtask-item-progress' if subtask.in_progress() else ''}}">
                {{subtask.name}}
                <ul class="list list-group-flush item-list">
                    {% for item in subtask.items %}
                        <!-- {% if not loop.first %}
                            <hr style="border-top: 1px solid #000000"/>
                        {% endif %} -->
                        <li onclick="toggle_item(this.id)" id="item_{{item.id}}" class="item-item {{'item-item-done' if item.done else ''}} {{'item-item-first' if loop.first else ''}} {{'item-item-last' if loop.last else ''}}">
                            {% set checked = 'checked' if item.done else ''%}
                            <input type="checkbox" class="btn-check" id="btn-check-{{item.id}}" {{checked}} autocomplete="off">
                            <label style="margin: 0; color: black" for="btn-check-{{item.id}}">{{item.text}}</label>
                        </li>
                        
                        <!-- <div style="display: flex; flex-wrap: nowrap;">
                            {% if item.done %}
                                <input type="checkbox" checked/>
                            {% else %}
                                <input type="checkbox"/>
                            {% endif %}
                            <li class="item-item {{'item-item-done' if item.done else ''}}"></li>
                            
                        </div> -->
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    
{% endif %}
<script
      type="text/javascript"
      src="{{ url_for('static', filename='view_task.js') }}"
    ></script>

{% endblock %}





<!-- {% if total != 0 %}
        <ul class="list list-group-flush" id="subtasks_{{task.id}}">
            {% for subtask in task.subtasks %}
                <li class="list-group-item">
                    {{subtask.name}}
                    <ul class="list list-group-flush" id="items_{{subtask.id}}">
                        {% for item in subtask.items %}
                            <li class="list-group-item bg-success">
                                {{item.text}}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                There is no subtasks in this task
            {% endfor %}
        {% endif %}
        </ul> -->