body {
    background-color: #333333;
    font-family: Montserrat;
    font-style: normal;
}

h3 {
    color: black;
}

label {
    color: white;
}

form {
    padding-top: .5rem;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .15s;
}

a:hover {
    background-size: 100% 2px;
}

a:visited {
    background-position: 0% 100%;
}

a:active {
    background-position: 0% 100%;
}

.navbar {
    width: 100%;
    background: #666666;
}

.nav-item {
    align-items: center;
    text-align: center;
    color: rgba(255,255,255,1)!important;
    height: 50px;
}

.nav-link {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-right: 20px;
}

.nav-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}

.header-text {
    color: rgba(255,255,255,1)!important;
    font-weight: 500;
    font-size: 75px;
}

.task-item {
    width: 100%;
    padding: 5px;
    list-style: none;
}

.task-item-no-subtasks {
     background-color: wheat;
}

.task-item-done {
    background-color: springgreen;
}

.task-item-first {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.task-item-last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.task-list {
    border-radius: 15px;
    background-color: cadetblue;
    padding-left: 0;
}

.create-task-subtask-list {
    border-radius: 15px;
    background-color: black;
    color: white;
    padding-left: 0;
}

.create-task-subtask {
    width: 100%;
    padding: 5px;
    font-size: 45px;
    list-style: none;
}

.create-task-item {
    font-size: 30px;
    list-style: none;
}

.create-task-item-text {
    display: flex;
    flex-wrap: nowrap;
}

.create-task-subtask input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    margin-right: .5rem;
    margin-bottom: .3rem;
}

.create-task-subtask input:focus {
    outline: none;
}


.create-task-item button {
    outline: none!important;
}

.create-task-item-delete {
    background-color: black;
    color: white;
    border-width: 0;
    height: 100%;
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.new-item-btn {
    font-size: 15px;
    border-radius: 20px;
}

.new-subtask-btn {
    font-size: 30px;
    border-radius: 35px;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

.subtask-list {
    border-radius: 15px;
    padding-left: 0;
    background-color: rgb(76, 94, 95);
}

.subtask-item {
    width: 100%;
    padding: 5px;
    list-style: none;
    font-size: 35px;
    font-weight: 600;
}

.subtask-item-done {
    background-color: springgreen;
}

.subtask-item-progress {
    background-color: cadetblue;
}

.subtask-item-first {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.subtask-item-last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item-item {
    width: 100%;
    padding: 5px;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(76, 94, 95);
    border: 1px solid black;
}

.item-item-first {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.item-item-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.item-item-done {
    background-color: springgreen;
}

hr {
    margin: 0;
    border-top: 3px solid #000000;
}

form {
    margin-bottom: 2rem;
}

.block {
    position: relative;
    z-index: 0;
    display: block;
}

.block-link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block-link:hover {
    background-size: 0% 2px;
}